:root {
  --shadow-scale: .5px;
  --inverted-shadow-scale: calc(var(--shadow-scale) * -1);
}

/* 4 drop shadows surround the text and fade through the gradient colors in a progressively faster animation. */
@keyframes titleGlow {
  0%,
  100% {
    filter: 
    drop-shadow(var(--shadow-scale) var(--shadow-scale) var(--color-1)) 
    drop-shadow(var(--shadow-scale) var(--inverted-shadow-scale) var(--color-4)) 
    drop-shadow(var(--inverted-shadow-scale) var(--shadow-scale) var(--color-7)) 
    drop-shadow(var(--inverted-shadow-scale) var(--inverted-shadow-scale) var(--color-10));
  }
  50% {
    filter: 
      drop-shadow(var(--shadow-scale) var(--shadow-scale) var(--color-3)) 
      drop-shadow(var(--shadow-scale) var(--inverted-shadow-scale) var(--color-6)) 
      drop-shadow(var(--inverted-shadow-scale) var(--shadow-scale) var(--color-9)) 
      drop-shadow(var(--inverted-shadow-scale) var(--inverted-shadow-scale) var(--color-12));
  }
  75% {
    filter: 
      drop-shadow(var(--shadow-scale) var(--shadow-scale) var(--color-5)) 
      drop-shadow(var(--shadow-scale) var(--inverted-shadow-scale) var(--color-8)) 
      drop-shadow(var(--inverted-shadow-scale) var(--shadow-scale) var(--color-11)) 
      drop-shadow(var(--inverted-shadow-scale) var(--inverted-shadow-scale) var(--color-3));
  }
  87% {
    filter: 
      drop-shadow(var(--shadow-scale) var(--shadow-scale) var(--color-7)) 
      drop-shadow(var(--shadow-scale) var(--inverted-shadow-scale) var(--color-10)) 
      drop-shadow(var(--inverted-shadow-scale) var(--shadow-scale) var(--color-1)) 
      drop-shadow(var(--inverted-shadow-scale) var(--inverted-shadow-scale) var(--color-5));
  }
  94% {
    filter: 
      drop-shadow(var(--shadow-scale) var(--shadow-scale) var(--color-9)) 
      drop-shadow(var(--shadow-scale) var(--inverted-shadow-scale) var(--color-12)) 
      drop-shadow(var(--inverted-shadow-scale) var(--shadow-scale) var(--color-3)) 
      drop-shadow(var(--inverted-shadow-scale) var(--inverted-shadow-scale) var(--color-7));
  }
}

/* change the angle of gradients */
@keyframes gradientAngleSpin {
  15% {
    --gradient-angle: 180deg;
  }
  20% {
    --gradient-angle: 165deg;
  }
  30% {
    --gradient-angle: 90deg;
  }
  50% {
    --gradient-angle: 0deg;
  }
  60% {
    --gradient-angle: 30deg;
  }
  75% {
    --gradient-angle: -30deg;
  }
  95% {
    --gradient-angle: 180deg
  }
}