:root {
  font-family: var(--font-body), system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start center;
  min-height: 100vh;
  background: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 400;
}

h4, h5, h6 {
  font-family: var(--font-small-display);
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 16px;
}