/* download fonts here https://gwfh.mranftl.com/fonts/ */
/* bakbak-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/bakbak-one-v10-latin-regular.woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/red-hat-text-v18-latin-500.woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/red-hat-text-v18-latin-600.woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/red-hat-text-v18-latin-700.woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
