a.skip-link {
  position: absolute;
  left: -999px;
  top: 0;
  background: var(--white);
  color: var(--black);
  padding: 8px 16px;
  z-index: 1000;
  border-radius: 4px;
  font-weight: bold;
  transition: left 0.2s;
}
a.skip-link:focus {
  left: 16px;
  top: 16px;
}

.portfolio header {
  position: relative;
}

.content {
  max-width: var(--content-max-width);
  margin: var(--content-margin);
  padding: var(--content-padding);
}

.text-area-gradient {
  background-color: rgba(255, 255, 255, 0.2); /* todo make this a variable */
  padding: 16px;
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
}

.two-col {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 40em){
  .two-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 64em) {
  div:has(.has-hex-header) .content {
    --offset: 208px; /* 1.5 hexes and a 16px margin */
    margin: 0 16px 0 var(--offset);
    width: calc(100vw - var(--offset) - 32px);
  }

  .content.two-col {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 90em){
  div:has(.has-hex-header) .content {
    --offset: 336px; /* 2.5 hexes and a 16px margin */
  }
}

@media screen and (min-width: 120em){
  div:has(.has-hex-header) .content {
    --offset: auto; /* back to normal */
    margin: 0 var(--offset);
  }
}

/* text styles */

.title {
  font-size: var(--title-size);
  line-height: 1.1;
}

.subtitle {
  font-size: var(--subtitle-size);
  line-height: 1.2;
}

.overlay .title,
.title.overlay,
.overlay .subtitle,
.subtitle.overlay {
  color: var(--overlay-title-color);
  animation: titleGlow 32s ease infinite;
}

.copyright {
  font-size: 0.875rem;
}
/* imagebox style card */

.card-container {  
  container-name: card-container;
  container-type: inline-size;
}

.card {
  overflow: hidden;
  border-radius: var(--border-radius);
}

.card-top {
  --image-width: 480;
  --image-height: 360;
  --height-ratio: calc(100% * var(--image-height) / var(--image-width));

  position: relative;
  aspect-ratio: 4 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  pointer-events: none;
}

.card-top .inner {
  width: 100%;
  display: block;
  position: relative;
  pointer-events: all;
}

.card-top .inner::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:  #00000024;
  pointer-events: none;
  opacity: 1;
  display: block;
}

.card-top .header-image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.card-top .header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 16px 24px;
  z-index: 1;
  pointer-events: none;
}

/* badge wrapper styles */

.badges-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* decorations */

.decorative-hex-border {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);  
  width: 100%;
  z-index: 1;
}

.decorative-hex-border .hex-row {
  justify-content: center;
}

.decorative-hex-border .decorative-hex {
  background: var(--info-panel-bg-top-color);
}

/* project info */

.info-panel {
  padding: 32px 16px;
  display: flex; 
  flex-direction: column;
  gap: 32px; 
  position: relative;
  background: var(--info-panel-bg-top-color);
  background: linear-gradient(180deg, var(--info-panel-bg-top-color) 10%, var(--info-panel-bg-bottom-color) 100%);
  color: var(--info-panel-text);
  z-index: 0;
  height: 100%;
}

/* variable height hex styles */
.variable-height-hex {
  --gradient-angle: 180deg;

  position: relative;
  height: 100%;
  width: var(--variable-height-hex-width);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: linear-gradient(var(--gradient-angle), var(--variable-height-hex-top-color), var(--variable-height-hex-bottom-color));
  filter: var(--drop-shadow);
}

.variable-height-hex::before,
.variable-height-hex::after {
  content: "";
  pointer-events: none;
  position:absolute;
  top: calc((var(--variable-height-hex-triangle-height) * -1) + 1px);
  width: 0px;
  height: 0px;
  display: block;
  border-style: solid;
  border-width: 0 var(--variable-height-hex-triangle-width) var(--variable-height-hex-triangle-height) var(--variable-height-hex-triangle-width);
  border-color: transparent transparent var(--variable-height-hex-top-color) transparent;
  transform: rotate(0deg);
}

.variable-height-hex::after {
  top: auto;
  bottom: calc((var(--variable-height-hex-triangle-height) * -1) + 1px);
  border-width: var(--variable-height-hex-triangle-height) var(--variable-height-hex-triangle-width) 0 var(--variable-height-hex-triangle-width);
  border-color: var(--variable-height-hex-bottom-color) transparent transparent transparent;
  filter: var(--drop-shadow-bottom);
}

@media screen and (min-width: 40em){
  .variable-height-hex {
    --variable-height-hex-width: var(--variable-height-hex-width-desktop);
    --variable-height-hex-triangle-width: var(--variable-height-hex-triangle-width-desktop);
    --variable-height-hex-triangle-height: var(--variable-height-hex-triangle-height-desktop);
  }
}

/* caption */
.caption {
  display: block;
  font-size: 0.875rem;
  color: var(--caption-text);
  text-align: center;
  background-color: var(--caption-background);
  padding: 8px 8px;
  margin: 16px 0;
  border-radius: var(--border-radius);
}

/* video player */

.video-player video {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* description styles */

/* floating images */

.floating {
  width: 100%;
  margin: 16px auto;
}

@container text-content (width > 500px) {

  .floating {
    width: 65%;
    margin: 0 16px 24px;
  }
  .float-right {
    float: right;
    margin-right: 0;
  } 
  
  .float-left {
    float: left;
    margin-left: 0;
  }
}

@container text-content (width > 600px) {

  .floating.half {
    width: 50%;
  }
}

.mosaic {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@container text-content (width > 500px) {

  .mosaic {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

.asset-caption video,
.asset-caption img,
.asset-caption .image {
  border-radius: var(--border-radius);
}

.text-content {
  container-name: text-content;
  container-type: inline-size;
}

.text-content p,
.text-content article {
  clear: both;
  margin-bottom: 32px;
}

.text-content a {
  color: var(--text-content-link);
  
  text-underline-offset: 2px;
  text-decoration-thickness: 1.5px;
  transition: color var(--transition-rules), text-decoration-color var(--transition-rules);
}

.text-content a:hover,
.text-content a:focus,
.text-content a:active,
.text-content a:focus-visible {
  color: var(--text-content-link-highlight);
  text-decoration-color: var(--text-content-link-highlight);
  text-decoration: underline;
}

.text-content ul {
  margin-left: 16px;
}

.text-content li {
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 16px;
}

.text-content .title {
  --title-size: 2rem;
}

.text-content .subtitle {
  --subtitle-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (min-width: 40em){
  .text-content ul {
    margin-left: 24px;
  }
  .text-content .title {
    --title-size: 2.25rem;
  }
  .text-content .subtitle {
    --subtitle-size: 1.75rem;
  }
}