:root:has(.outdoors-theme) {
  --shade-1: #361008;
  --shade-2: #582F0E;
  --shade-3: #7F4F24;
  --shade-4: #936639;
  --shade-5: #785f3c;
  --shade-6: #A68A64;
  --shade-7: #B6AD90;
  --shade-8: #C2C5AA;
  --shade-9: #656D4A;
  --shade-10: #30422a;
  --shade-11: #414833;
  --shade-12: #333D29;

  --color-bg: #f6f9da;

  --black: #102222;
  --white: #fff;
}

:root:has(.magic-escape) {
  --shade-1: #71093B;
  --shade-2: #990B52;
  --shade-3: #d4458d;
  --shade-4: #CB8B15;
  --shade-5: #EAAA34;
  --shade-6: #e7cfa3;
  --shade-7: #749ED2;
  --shade-8: #467EC3;
  --shade-9: #1554a0;
  --shade-10: #023578;
  --shade-11: #022450;
  --shade-12: #0b0250;

  --color-bg: #F1F4F9;

  --black: #102222;
  --white: #fff;
}

:root:has(.mystic-depths) {
  --shade-1: #252933;
  --shade-2: #2a2533;
  --shade-3: #404556;
  --shade-4: #423041;
  --shade-5: #60515C;
  --shade-6: #8f7a81;
  --shade-7: #386775;
  --shade-8: #387573;
  --shade-9: #20504E;
  --shade-10: #205035;
  --shade-11: #193D31;
  --shade-12: #17292B;

  --color-bg: var(--shade-1);

  --black: #102222;
  --white: #fff;
}