:root {
  --font-bakbak: 'Bakbak One';
  --font-redhat: 'Red Hat Text';

  --font-display: var(--font-bakbak), sans-serif;
  --font-body: var(--font-redhat), sans-serif;



  --orange: #da7e1b;
  --red: #cd5e57;
  --pink: #ae5378;
  --purple: #7a5484;
  --plum: #65617f;
  --blue: #4f6d7a;
  --cyan: #428d95;
  --teal: #41ad9f;
  --green: #68cb97;
  --lime: #a9e583;
  --yellow: #e9e377;
  --tangerine: #e2b149;
  --beige: #f7f5d3;


  --color-1: var(--orange);
  --color-2: var(--red);
  --color-3: var(--pink);
  --color-4: var(--purple);
  --color-5: var(--plum);
  --color-6: var(--blue);
  --color-7: var(--cyan);
  --color-8: var(--teal);
  --color-9: var(--green);
  --color-10: var(--lime);
  --color-11: var(--yellow);
  --color-12: var(--tangerine);

  --color-bg: var(--beige);

  --black: #102222;
  --white: #fff;

  --body-bg: var(--color-bg);
  --transparent: transparent;
  
  --black-text: var(--black);
  --white-text: var(--white);

  --mobile-hex-width: 122px;
  --desktop-hex-width: 170px;

  --content-max-width: 1280px;
  --content-margin: 0 auto;
  --content-padding: 0 20px;

  --hex-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);

}
/* animations */
@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 35deg;
}

:root:has(.outdoors-theme) {
  --color-1: #361008;
  --color-2: #582F0E;
  --color-3: #7F4F24;
  --color-4: #936639;
  --color-5: #785f3c;
  --color-6: #A68A64;
  --color-7: #B6AD90;
  --color-8: #C2C5AA;
  --color-9: #656D4A;
  --color-10: #30422a;
  --color-11: #414833;
  --color-12: #333D29;

  --color-bg: #f6f9da;

  --black: #102222;
  --white: #fff;
}

:root:has(.magic-escape) {
  --color-1: #71093B;
  --color-2: #990B52;
  --color-3: #d4458d;
  --color-4: #CB8B15;
  --color-5: #EAAA34;
  --color-6: #e7cfa3;
  --color-7: #749ED2;
  --color-8: #467EC3;
  --color-9: #1554a0;
  --color-10: #023578;
  --color-11: #022450;
  --color-12: #0b0250;

  --color-bg: #F1F4F9;

  --black: #102222;
  --white: #fff;
}

:root:has(.mystic-depths) {
  --color-1: #252933;
  --color-2: #2a2533;
  --color-3: #404556;
  --color-4: #423041;
  --color-5: #60515C;
  --color-6: #8f7a81;
  --color-7: #386775;
  --color-8: #387573;
  --color-9: #20504E;
  --color-10: #205035;
  --color-11: #193D31;
  --color-12: #17292B;

  --color-bg: var(--color-1);

  --black: #102222;
  --white: #fff;
}