:root {
  --font-bakbak: 'Bakbak One';
  --font-redhat: 'Red Hat Text';
  --font-inter: 'Oxanium';

  --font-display: var(--font-bakbak), sans-serif;
  --font-body: var(--font-redhat), sans-serif;
  --font-small-display: var(--font-inter), sans-serif;

  /* content rules */
  --content-max-width: 1280px;
  --content-margin: 0 auto;
  --content-padding: 0 16px;

  /* default theme colors */
  --orange: #da7e1b;
  --red: #cd5e57;
  --pink: #ae5378;
  --purple: #7a5484;
  --plum: #65617f;
  --blue: #4f6d7a;
  --cyan: #428d95;
  --teal: #41ad9f;
  --green: #68cb97;
  --lime: #a9e583;
  --yellow: #e9e377;
  --tangerine: #e2b149;
  --beige: #f7f5d3;

  --black: #120a03;
  --white: #fff;
  --dark-gray: #211e1b;

  --shade-1: var(--orange);
  --shade-2: var(--red);
  --shade-3: var(--pink);
  --shade-4: var(--purple);
  --shade-5: var(--plum);
  --shade-6: var(--blue);
  --shade-7: var(--cyan);
  --shade-8: var(--teal);
  --shade-9: var(--green);
  --shade-10: var(--lime);
  --shade-11: var(--yellow);
  --shade-12: var(--tangerine);

  --color-bg: var(--beige);

  --color-dark-text: var(--black);
  --color-light-text: var(--white);
  --color-gray-text: var(--dark-gray);

  --text-content-link : var(--blue);
  --text-content-link-highlight: var(--purple);

  --body-bg: var(--color-bg);
  --body-color: var(--color-dark-text);
  --body-color-contrast: var(--color-light-text);
  --transparent: transparent;

  /* color rules refresh */
  --primary-background: var(--teal);
  --primary-text: var(--color-dark-text);
  --primary-background-contrast: var(--lime);
  --primary-text-contrast: var(--color-dark-text);

  --secondary-background: var(--plum);
  --secondary-text: var(--color-light-text);
  --secondary-background-contrast: var(--green);
  --secondary-text-contrast: var(--color-gray-text);

  --tertiary-background: var(--cyan);
  --tertiary-text: var(--color-dark-text);
  --tertiary-background-contrast: var(--blue);
  --tertiary-text-contrast: var(--color-light-text);

  --quaternary-background: var(--pink);
  --quaternary-text: var(--color-light-text);
  --quaternary-background-contrast: var(--cyan);
  --quaternary-text-contrast: var(--color-dark-text);

  /* gradient stop points */
  --stop-1-of-2: 50%;
  --stop-2-of-2: 100%;

  --mobile-hex-width: 122px;
  --desktop-hex-width: 170px;


  /* utils */
  --hex-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  --transition-rules: .3s ease-out;
  --transition-rules-slow: .5s ease-out;
  --border-radius: 8px;
  --drop-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  --drop-shadow-top: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.2));
  --drop-shadow-bottom: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.05)); /* color and y hack for variable height hex bottom shadow */
  --focus-shadow: var(--primary-background-contrast);
  
  /* titles */
  --overlay-title-color: var(--color-light-text);
  --title-size: 1.75rem;
  --subtitle-size: 1.25rem;
  --shadow-scale: .65px; /* for textGlow animation shadows, set to 0 to turn off, but be sure to add some bg gradients in their place */
  --inverted-shadow-scale: calc(var(--shadow-scale) * -1); /* for textGlow animation shadows, set to 0 to turn off, but be sure to add some bg gradients in their place */

  /* animations */
  --from-color: var(--quaternary-background);
  --from-text: var(--quaternary-text);
  --to-color: var(--quaternary-background-contrast);
  --to-text: var(--quaternary-text-contrast);
  --gradient-angle: 30deg;

  /* badges */
  --badge-text-size: 0.875rem;
  --badge-border-width: 1px;
  
  --badge-primary-bg: var(--primary-background-contrast);
  --badge-primary-text: var(--primary-text-contrast);
  --badge-primary-border: var(--black);
  --badge-primary-bg-highlight: var(--primary-background);
  --badge-primary-text-highlight: var(--primary-text);
  --badge-primary-border-highlight: var(--badge-primary-border);

  --badge-secondary-bg: var(--secondary-background);
  --badge-secondary-text: var(--secondary-text);
  --badge-secondary-border: var(--black);
  --badge-secondary-bg-highlight: var(--secondary-background-contrast);
  --badge-secondary-text-highlight: var(--secondary-text-contrast);
  --badge-secondary-border-highlight: var(--badge-secondary-border);

  --badge-tertiary-bg: var(--tertiary-background);
  --badge-tertiary-text: var(--tertiary-text);
  --badge-tertiary-border: var(--black);
  --badge-tertiary-bg-highlight: var(--tertiary-background-contrast);
  --badge-tertiary-text-highlight: var(--tertiary-text-contrast);
  --badge-tertiary-border-highlight: var(--badge-tertiary-border);

  --badge-quaternary-bg: var(--quaternary-background);
  --badge-quaternary-text: var(--quaternary-text);
  --badge-quaternary-border: var(--black);
  --badge-quaternary-bg-highlight: var(--quaternary-background-contrast);
  --badge-quaternary-text-highlight: var(--quaternary-text-contrast);
  --badge-quaternary-border-highlight: var(--badge-quaternary-border);

  /* link badges */
  --link-badge-bg: var(--primary-background);
  --link-badge-text: var(--primary-text);
  --link-badge-bg-hover: var(--primary-background-contrast);
  --link-badge-text-hover: var(--primary-text-contrast);

  /* hexes */
  --default-hex-text: var(--color-dark-text);
  --default-hex-text-hover: var(--color-light-text);

  /* variable height hex */
  --variable-height-hex-width: 160px;
  --variable-height-hex-triangle-width: calc(var(--variable-height-hex-width) / 2);
  --variable-height-hex-triangle-height: calc(var(--variable-height-hex-width) * 0.2886 + 1px);
  --variable-height-hex-width-desktop: 200px;
  --variable-height-hex-triangle-width-desktop: calc(var(--variable-height-hex-width-desktop) / 2);
  --variable-height-hex-triangle-height-desktop: calc(var(--variable-height-hex-width-desktop) * 0.2886 + 1px);
  --variable-height-hex-top-color: var(--primary-background);
  --variable-height-hex-bottom-color: var(--primary-background-contrast);

  --variable-height-hex-top-color-detail: var(--quaternary-background-contrast);
  --variable-height-hex-bottom-color-detail: var(--quaternary-background);

  /* logo */
  --outer-hex: var(--shade-6);
  --middle-hex: var(--shade-7);
  --inner-hex: var(--shade-9);
  --logo-text: var(--white);

  --outer-hex-hover: var(--shade-4);
  --middle-hex-hover: var(--shade-8);
  --inner-hex-hover: var(--shade-10);
  --logo-text-hover: var(--white);

  /* nav */
  --nav-toggle-bg: var(--primary-background);
  --nav-toggle-text: var(--primary-text);
  --nav-toggle-bg-hover: var(--primary-background-contrast);
  --nav-toggle-text-hover: var(--primary-text-contrast);
  --nav-icon-color: var(--color-light-text);
  --nav-bg: var(--quaternary-background);
  --nav-text: var(--quaternary-text);

  /* hexHeader */
  --hh-link-color: var(--color-light-text);
  --hh-link-color-hover: var(--link-color);
  --hh-icon-color: var(--color-dark-text);
  --hh-icon-color-hover: var(--hh-icon-color);

  /* captions */
  --caption-background: var(--secondary-background);
  --caption-text: var(--secondary-text);

  /* projects */
  --project-index-intro-bg: var(--primary-background-contrast);
  --project-index-intro-text: var(--primary-text-contrast);

  /* project filter */
  --project-filter-toggle-width: 64px;
  --project-filter-text: var(--primary-text);
  --project-filter-text-contrast: var(--primary-text-contrast);
  --project-filter-bg-hover-top: var(--variable-height-hex-bottom-color);
  --project-filter-text-hover-top: var(--primary-text-contrast);
  --project-filter-bg-hover-bottom: var(--variable-height-hex-top-color);
  --project-filter-text-hover-bottom: var(--primary-text);

  --project-filter-toggle-bg: var(--secondary-background);
  --project-filter-toggle-bg-hover: var(--secondary-background-contrast);
  --project-filter-toggle-text: var(--secondary-text);
  --project-filter-toggle-text-hover: var(--secondary-text-contrast);


  /* project results info panel */
  --info-panel-bg-top-color: var(--primary-background);
  --info-panel-bg-bottom-color: var(--primary-background-contrast);
  --info-panel-text: var(--primary-text);

  /* project result footer links */
  --link-badge-bg: var(--tertiary-background);
  --link-badge-text: var(--tertiary-text);
  --link-badge-bg-hover: var(--tertiary-background-contrast);
  --link-badge-text-hover: var(--tertiary-text-contrast);

  /* project detail */
  --project-back-button-bg: var(--secondary-background);
  --project-back-button-bg-hover: var(--secondary-background-contrast);
  --project-back-button-text: var(--secondary-text);
  --project-back-button-text-hover: var(--secondary-text-contrast);

  /* intro panel */
  --intro-panel-bg-top-color: #f7f5d3c2;
  --intro-panel-bg-bottom-color: var(--transparent);
  --intro-panel-text: var(--color-dark-text);

  /* footer */
  --footer-content-bg-top-color: var(--quaternary-background);
  --footer-content-bg-bottom-color: var(--quaternary-background-contrast);
  --footer-content-text: var(--quaternary-text);  
  --footer-nav-bg-top-color: var(--tertiary-background);
  --footer-nav-bg-bottom-color: var(--tertiary-background-contrast);
  --footer-decorative-hex-color-odd: var(--primary-background);
  --footer-decorative-hex-color-even: var(--primary-background-contrast);
}