:root {
  --font-bakbak: 'Bakbak One';
  --font-redhat: 'Red Hat Text';
  --font-inter: 'Oxanium';

  --font-display: var(--font-bakbak), sans-serif;
  --font-body: var(--font-redhat), sans-serif;
  --font-small-display: var(--font-inter), sans-serif;

  /* content rules */
  --content-max-width: 1280px;
  --content-margin: 0 auto;
  --content-padding: 0 16px;

  /* default theme colors */
  --orange: #da7e1b;
  --red: #cd5e57;
  --pink: #ae5378;
  --purple: #7a5484;
  --plum: #65617f;
  --blue: #4f6d7a;
  --cyan: #428d95;
  --teal: #41ad9f;
  --green: #68cb97;
  --lime: #a9e583;
  --yellow: #e9e377;
  --tangerine: #e2b149;
  --beige: #f7f5d3;

  --black: #120a03;
  --white: #fff;

  --color-1: var(--orange);
  --color-2: var(--red);
  --color-3: var(--pink);
  --color-4: var(--purple);
  --color-5: var(--plum);
  --color-6: var(--blue);
  --color-7: var(--cyan);
  --color-8: var(--teal);
  --color-9: var(--green);
  --color-10: var(--lime);
  --color-11: var(--yellow);
  --color-12: var(--tangerine);

  --color-bg: var(--beige);

  --color-dark-text: var(--black);
  --color-light-text: var(--white);

  --body-bg: var(--color-bg);
  --transparent: transparent;

  /* color rules refresh */
  --primary-color: var(--color-8);
  --primary-color-text: var(--color-dark-text);
  --primary-color-contrast: var(--color-10);
  --primary-color-text-contrast: var(--color-dark-text);

  --secondary-color: var(--color-4);
  --secondary-color-text: var(--color-light-text);
  --secondary-color-contrast: var(--color-2);
  --secondary-color-text-contrast: var(--color-dark-text);

  --tertiary-color: var(--color-2);
  --tertiary-color-text: var(--color-dark-text);
  --tertiary-color-contrast: var(--color-9);
  --tertiary-color-text-contrast: var(--color-dark-text);

  --quaternary-color: var(--color-3);
  --quaternary-color-text: var(--color-light-text);
  --quaternary-color-contrast: var(--color-6);
  --quaternary-color-text-contrast: var(--color-light-text);

  /* gradient stop points */
  --color-1-of-2: 50%;
  --color-2-of-2: 100%;

  --mobile-hex-width: 122px;
  --desktop-hex-width: 170px;


  /* utils */
  --hex-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  --transition-rules: .3s ease-out;
  --border-radius: 8px;
  
  /* titles */
  --overlay-title-color: var(--color-light-text);
  --title-size: 1.75rem;
  --subtitle-size: 1.25rem;
  --shadow-scale: .65px; /* for textGlow animation shadows, set to 0 to turn off, but be sure to add some bg gradients in their place */
  --inverted-shadow-scale: calc(var(--shadow-scale) * -1); /* for textGlow animation shadows, set to 0 to turn off, but be sure to add some bg gradients in their place */

  /* badges */
  --badge-text-size: 0.875rem;
  --badge-border-width: 1px;
  
  --badge-primary-color-bg: var(--primary-color-contrast);
  --badge-primary-color-text: var(--primary-color-text-contrast);
  --badge-primary-color-border: var(--black);
  --badge-primary-color-bg-highlight: var(--primary-color);
  --badge-primary-color-text-highlight: var(--primary-color-text);
  --badge-primary-color-border-highlight: var(--badge-primary-color-border);

  --badge-secondary-color-bg: var(--secondary-color);
  --badge-secondary-color-text: var(--secondary-color-text);
  --badge-secondary-color-border: var(--black);
  --badge-secondary-color-bg-highlight: var(--secondary-color-contrast);
  --badge-secondary-color-text-highlight: var(--secondary-color-text-contrast);
  --badge-secondary-color-border-highlight: var(--badge-secondary-color-border);

  --badge-tertiary-color-bg: var(--tertiary-color);
  --badge-tertiary-color-text: var(--tertiary-color-text);
  --badge-tertiary-color-border: var(--black);
  --badge-tertiary-color-bg-highlight: var(--tertiary-color-contrast);
  --badge-tertiary-color-text-highlight: var(--tertiary-color-text-contrast);
  --badge-tertiary-color-border-highlight: var(--badge-tertiary-color-border);
  


  /* hexes */
  --default-hex-color: var(--color-dark-text);

  /* variable height hex */
  --variable-height-hex-width: 160px;
  --variable-height-hex-triangle-width: calc(var(--variable-height-hex-width) / 2);
  --variable-height-hex-triangle-height: calc(var(--variable-height-hex-width) * 0.2886 + 1px);
  --variable-height-hex-width-desktop: 160px;
  --variable-height-hex-triangle-width-desktop: calc(var(--variable-height-hex-width-desktop) / 2);
  --variable-height-hex-triangle-height-desktop: calc(var(--variable-height-hex-width-desktop) * 0.2886 + 1px);
  --variable-height-hex-top-color: var(--primary-color);
  --variable-height-hex-bottom-color: var(--primary-color-contrast);

  --variable-height-hex-top-color-detail: var(--primary-color-contrast);
  --variable-height-hex-bottom-color-detail: var(--primary-color);

  /* project filter */
  --project-filter-toggle-width: 64px;
  --project-filter-text: var(--primary-color-text);
  --project-filter-text-contrast: var(--primary-color-text-contrast);
  --project-filter-bg-hover-top: var(--variable-height-hex-bottom-color);
  --project-filter-text-hover-top: var(--primary-color-text-contrast);
  --project-filter-bg-hover-bottom: var(--variable-height-hex-top-color);
  --project-filter-text-hover-bottom: var(--primary-color-text);

  --project-filter-toggle-bg: var(--quaternary-color);
  --project-filter-toggle-bg-hover: var(--quaternary-color-contrast);
  --project-filter-toggle-text: var(--quaternary-color-text);

  /* project index */

  /* info panel */
  --info-panel-bg-top-color: var(--primary-color);
  --info-panel-bg-bottom-color: var(--primary-color-contrast);
  --info-panel-text: var(--primary-color-text);

  --link-badge-bg: var(--secondary-color);
  --link-badge-text: var(--secondary-color-text);
  --link-badge-bg-hover: var(--secondary-color-contrast);
  --link-badge-text-hover: var(--secondary-color-text-contrast);

  /* project detail */
  --back-button-bg-top-color: var(--primary-color-contrast);
  --back-button-bg-bottom-color: var(--primary-color);
  --back-button-text: var(--primary-color-text);

  /* animations */
  --from-color: var(--quaternary-color);
  --from-text: var(--quaternary-color-text);
  --to-color: var(--quaternary-color-contrast);
  --to-text: var(--quaternary-color-text-contrast);
  --gradient-angle: 30deg;
}