.header {
  --header-offset: 32px;
  --left: calc(50% - var(--header-offset));
  --width: calc(100vw + (var(--header-offset) * 2));

  position: absolute;
  top: 0;
  left: var(--left);
  transform: translateX(-50%);
  height: 100%;
  z-index: 2;
  pointer-events: none;
  overflow-x: clip;
  width: var(--width);
}

.header .hex:has(a) {
  pointer-events: all;
}

.header .hex:not([class*="-body-bg"]) {
  animation: gradientAngleSpin 96s ease infinite;
}

.header .hex[class*="-body-bg"] {
  --gradient-angle: 180deg;
}

.header .hex-row:has(.hex[class*="-body-bg"]) + .hex-row:has(.hex[class*="-body-bg"]) .hex[class*="-body-bg"] {
  --gradient-angle: 0deg;
}

@media screen and (min-width: 520px){
  .header .hex-row.header-mobile-2 .hex:last-of-type {
    order: -1;
  }
}

