.content {
  max-width: var(--content-max-width);
  margin: var(--content-margin);
  padding: var(--content-padding);
}

.text-area {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.content.two-col {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 64em) {
  .content.two-col {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}