.card.project-detail  {
  padding-top: 32px;
}

.project-detail .image:not(.mobile) {
  display: none;
}

.project-detail .card-top {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}

.project-detail .main {

}

.project-detail .tech-container {

}

.project-detail .tech-list {

}

.project-detail .tech-title {

}

.project-detail .description-container {

}

.project-detail .description {

}

.project-detail .image-area {

}

.project-detail .hex-grid {

}

.project-detail .hex-row {

}
