.project-index {
  --filter-transition: .3s ease-out;

  position: relative;
}

.project-index .helper-results {
  flex: 1 1 auto;
}

.project-index .intro-text {
  margin: 0 0 8px 80px;
  padding: 8px 16px;
  background-color: var(--project-index-intro-bg);
  color: var(--project-index-intro-text);
  border-radius: var(--border-radius);
  filter: var(--drop-shadow);
}

.project-index .results {
  position: relative;
  padding: 0 0 32px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  z-index: 0;
}

.selected-project {
  position: relative;
}

.selected-project .back-button {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 2;
}

.selected-project .back-button.desktop {
  display: none;
}

.project-index .intro-text p {
  margin: 0;
}

.project-index .hex.icon-bg .badge .badge-content .fa-icon {
  font-size: 2rem;
}

.project-index .hex.icon-bg:hover .badge .badge-content .fa-icon {
  font-size: 2.5rem;
}

@media screen and (min-width: 40em){
  .project-index {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .project-index .intro-text {
    margin: 0 0 24px 0;
  }

  .selected-project .back-button.mobile {
    display: none;
  }
  
  .selected-project .back-button.desktop {
    display: block;
  }
}
