.badge {
  --title-size: var(--badge-text-size);
}
.hex.with-svg .hex-badges .badge svg {
  display: none;
}

.badge .badge-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: inherit;
  color: inherit;
}

.badge .badge-content .fa-icon {
  position: relative;
}

.badge .badge-content .fa-icon svg {
  z-index: 1;
  position: relative;
}

.badge .badge-content .fa-icon::after {
  --radius : 30px; 
  --background-color: transparent;
  content: "";
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: var(--radius);
  height: var(--radius);
  border-radius: 9999px;
  background-color: transparent;
  z-index: 0;
}

.badge.pill .badge-content {
  border-radius: 9999px;
  padding: 4px 12px;
  line-height: 1.25rem;
  width: fit-content;
  text-transform: uppercase;
  filter: var(--drop-shadow);
}

.badge.pill .badge-content:has(:not(.fa-icon)) {
  padding: 8px 16px;
}

.badge.pill .title {
  --title-size: 1rem;

  position: relative;
  top: 1px;
}

/* colors */

.badge.primary .badge-content {
  background-color: var(--badge-primary-color-bg);
  color: var(--badge-primary-color-text);
  border: var(--badge-border-width) solid var(--badge-primary-color-border);
}

.badge.primary.highlight .badge-content .fa-icon {
  color: var(--badge-primary-color-text-highlight);
  transition: color var(--transition-rules);
}

.badge.primary:has(a, button):hover .badge-content .fa-icon::after,
.badge.primary.highlight .badge-content .fa-icon::after,
.badge.primary:has(a, button):focus .badge-content .fa-icon::after,
.badge.primary:has(a, button):focus-within .badge-content .fa-icon::after {
  background-color: var(--badge-primary-color-bg-highlight);
  transition: background-color var(--transition-rules);
}


.badge.secondary .badge-content {
  background-color: var(--badge-secondary-color-bg);
  color: var(--badge-secondary-color-text);
  border: var(--badge-border-width) solid var(--badge-secondary-color-border);
}

.badge.secondary.highlight .badge-content .fa-icon {
  color: var(--badge-secondary-color-text-highlight);
  transition: color var(--transition-rules);
}

.badge.secondary:has(a, button):hover .badge-content .fa-icon::after,
.badge.secondary.highlight .badge-content .fa-icon::after,
.badge.secondary:has(a, button):focus .badge-content .fa-icon::after,
.badge.secondary:has(a, button):focus-within .badge-content .fa-icon::after {
  background-color: var(--badge-secondary-color-bg-highlight);
  transition: background-color var(--transition-rules);
}

.badge.tertiary .badge-content {
  background-color: var(--badge-tertiary-color-bg);
  color: var(--badge-tertiary-color-text);
  border: var(--badge-border-width) solid var(--badge-tertiary-color-border);
}

.badge.tertiary.highlight .badge-content .fa-icon {
  color: var(--badge-tertiary-color-text-highlight);
  transition: color var(--transition-rules);
}

.badge.tertiary:has(a, button):hover .badge-content .fa-icon::after,
.badge.tertiary.highlight .badge-content .fa-icon::after,
.badge.tertiary:has(a, button):focus .badge-content .fa-icon::after,
.badge.tertiary:has(a, button):focus-within .badge-content .fa-icon::after {
  background-color: var(--badge-tertiary-color-bg-highlight);
  transition: background-color var(--transition-rules);
}



