:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange: #cd7e2c ;
  --red: #cd5e57;
  --pink: #ae5378;
  --purple: #7a5484;
  --blue: #4f6d7a;
  --cyan: #428d95;
  --teal: #41ad9f;
  --green: #68cb97;
  --lime: #a9e583;
  --yellow: #f9f871;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
