.footer {
  --hex-content-width: calc(100vw * 208 / 360);
  --gradient-height: 40px;
  --gradient-top: calc(var(--gradient-height) * -0.5);
  height: 700px;
  position: relative;
  z-index: 2;
  margin-top: 32px;
  background-color: var(--color-bg);
}

.footer::after {
  content: "";
  position: absolute;
  top: var(--gradient-top);
  left: 0;
  width: 100%;
  height: var(--gradient-height);
  background: linear-gradient(to top, var(--color-bg) calc(50% + 16px), transparent calc(100% - 32px));
  pointer-events: none;
  z-index: -1;
}

.footer .footer-hex-wrapper {
  width: 100vw;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.footer .hex-grid {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer .footer-hex.decorative {
  background: linear-gradient(30deg, var(--footer-decorative-hex-color-odd) 0%, var(--footer-decorative-hex-color-even) 100%);
  filter: var(--drop-shadow);
}

.footer .footer-hex.decorative:nth-child(even) {
  background: linear-gradient(30deg, var(--footer-decorative-hex-color-even) 0%, var(--footer-decorative-hex-color-odd) 100%);
}

.footer .footer-hex.footer-text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background: var(--footer-content-bg-top-color);
  background: linear-gradient(30deg, var(--footer-content-bg-top-color) 10%, var(--footer-content-bg-bottom-color) 100%);
  color: var(--footer-content-text);
}

.footer .footer-hex.footer-links {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  background: var(--footer-nav-bg-top-color);
  background: linear-gradient(30deg, var(--footer-nav-bg-top-color) 10%, var(--footer-nav-bg-bottom-color) 100%);
  color: var(--footer-content-text);
}

.footer .footer-hex.footer-links .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.footer .footer-hex.footer-text.hex .hex-text-content {
  left: 16px;
  transform: translate(0, -50%);
  max-width: var(--hex-content-width);
}

.footer .footer-hex.footer-links.hex .hex-text-content {
  left: auto;
  right: 16px;
  transform: translate(0, -50%);
  max-width: var(--hex-content-width);
}

.footer .footer-hex.footer-links.hex .hex-text-content .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer .footer-content .title {
  --shadow-scale: .25px;
  --inverted-shadow-scale: calc(var(--shadow-scale) * -1);
  --title-size: 1.625rem;

  animation: titleGlow 16s ease infinite;
}

.footer .description,
.footer .copyright {
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  .footer .title {
    --title-size: 2rem;
  } 
}

@media screen and (min-width: 64em) {
  .footer {
    --gradient-height: 400px;
    margin-top: 200px;
  } 
}