.footer {
  --content-max-width: 450px;
  --gradient-top-stop: 5%;
  --gradient-bottom-stop: calc(100% - var(--gradient-top-stop));
  background: linear-gradient(var(--footer-content-bg-top-color) 0 var(--gradient-top-stop), var(--footer-content-bg-middle-color) var(--gradient-top-stop) var(--gradient-bottom-stop), var(--footer-content-bg-bottom-color) var(--gradient-bottom-stop) 100%);
  color: var(--footer-content-text);
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.footer .text-content, .footer .nav-links {
  width: 100%;
  max-width: var(--content-max-width);
}

.footer .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 64em){
  .footer {
    flex-direction: row;
  }

  .footer .text-content {
    text-align: left;
  }

  .footer .nav-links {
    justify-content: flex-end;
  }
}