.hex-header {
  --header-offset: 20px;
  --left: calc(50% - var(--header-offset));
  --width: calc(100vw + (var(--header-offset) * 2));

  position: absolute;
  top: 0;
  left: var(--left);
  transform: translateX(-50%);
  height: auto;
  width: var(--width);
  z-index: 2;
  pointer-events: none;
  overflow-y: visible;
  overflow-x: hidden;
}

.hex-header .hex:has(a),
.hex-header .hex:has(button) {
  pointer-events: all;
  color: var(--hh-link-color);
  transition: color var(--transition-rules);
}

.hex-header .hex:has(a):hover,
.hex-header .hex:has(button):hover {
  cursor: pointer;
  color: var(--hh-link-color-hover);
  transition: color var(--transition-rules);
}

.hex-header .hex.icon-bg .badge .badge-content .fa-icon {
  color: var(--hh-icon-color);
}

.hex-header .hex.icon-bg:hover .badge .badge-content .fa-icon {
  color: var(--hh-icon-color-hover);
  opacity: .4;
}

.hex-header .hex:not([class*="-body-bg"]) {
  animation: gradientAngleSpin 198s ease infinite;
}

.hex-header .hex[class*="-body-bg"] {
  --gradient-angle: 180deg;
}

.hex-header .hex-row:has(.hex[class*="-body-bg"]) + .hex-row:has(.hex[class*="-body-bg"]) .hex[class*="-body-bg"] {
  --gradient-angle: 0deg;
}

.hex-header .hex *:focus-visible {
  outline-offset: -16px;
}

@media screen and (min-width: 40em){
  .hex-header {
    --header-offset: 24px;
  }
}

@media screen and (min-width: 64em){
  .hex-header {
    --header-offset: 32px;
  }
}