.hex.gradient-orange-pink {
  background: var(--color-1);
  background: linear-gradient(var(--gradient-angle), var(--color-1) 0%, var(--color-3) 100%);
}

.hex.gradient-blue-cyan-teal-green {
  background: var(--color-6);
  background: linear-gradient(135deg, var(--color-6) 0%, var(--color-7) 33%, var(--color-8) 66%, var(--color-9) 100%);
}

.hex.transparent {
  background: transparent;
}

.hex.gradient-1 {
  background: var(--color-1);
}

.hex.gradient-1-2 {
  background: var(--color-1);
  background: linear-gradient(var(--gradient-angle), var(--color-1) var(--color-1-of-2), var(--color-2) var(--color-2-of-2));
}

.hex.gradient-1-3 {
  background: var(--color-1);
  background: linear-gradient(var(--gradient-angle), var(--color-1) var(--color-1-of-2), var(--color-3) var(--color-2-of-2));
}


.hex.gradient-2-3 {
  background: var(--color-2);
  background: linear-gradient(var(--gradient-angle), var(--color-2) var(--color-1-of-2), var(--color-3) var(--color-2-of-2));
}

.hex.gradient-2-4 {
  background: var(--color-2);
  background: linear-gradient(var(--gradient-angle), var(--color-2) var(--color-1-of-2), var(--color-4) var(--color-2-of-2));
}

.hex.gradient-3-4 {
  background: var(--color-3);
  background: linear-gradient(var(--gradient-angle), var(--color-3) var(--color-1-of-2), var(--color-4) var(--color-2-of-2));
}

.hex.gradient-3-5 {
  background: var(--color-3);
  background: linear-gradient(var(--gradient-angle), var(--color-3) var(--color-1-of-2), var(--color-5) var(--color-2-of-2));
}

.hex.gradient-4 {
  background: var(--color-4);
}

.hex.gradient-4-5 {
  background: var(--color-4);
  background: linear-gradient(var(--gradient-angle), var(--color-4) var(--color-1-of-2), var(--color-5) var(--color-2-of-2));
}

.hex.gradient-4-6 {
  background: var(--color-4);
  background: linear-gradient(var(--gradient-angle), var(--color-4) var(--color-1-of-2), var(--color-6) var(--color-2-of-2));
}

.hex.gradient-5-6 {
  background: var(--color-5);
  background: linear-gradient(var(--gradient-angle), var(--color-5) var(--color-1-of-2), var(--color-6) var(--color-2-of-2));
}

.hex.gradient-5-8 {
  background: var(--color-5);
  background: linear-gradient(var(--gradient-angle), var(--color-5) var(--color-1-of-2), var(--color-8) var(--color-2-of-2));
}

.hex.gradient-6-7 {
  background: var(--color-6);
  background: linear-gradient(var(--gradient-angle), var(--color-6) var(--color-1-of-2), var(--color-7) var(--color-2-of-2));
}

.hex.gradient-6-8 {
  background: var(--color-6);
  background: linear-gradient(var(--gradient-angle), var(--color-6) var(--color-1-of-2), var(--color-8) var(--color-2-of-2));
}

.hex.gradient-7-8 {
  background: var(--color-7);
  background: linear-gradient(var(--gradient-angle), var(--color-7) var(--color-1-of-2), var(--color-8) var(--color-2-of-2));
}

.hex.gradient-8 {
  background: var(--color-8);
}

.hex.gradient-8-9 {
  background: var(--color-8);
  background: linear-gradient(var(--gradient-angle), var(--color-8) var(--color-1-of-2), var(--color-9) var(--color-2-of-2));
}

.hex.gradient-8-10 {
  background: var(--color-8);
  background: linear-gradient(var(--gradient-angle), var(--color-8) var(--color-1-of-2), var(--color-10) var(--color-2-of-2));
}

.hex.gradient-9-10 {
  background: var(--color-9);
  background: linear-gradient(var(--gradient-angle), var(--color-9) var(--color-1-of-2), var(--color-10) var(--color-2-of-2));
}

.hex.gradient-9-11 {
  background: var(--color-9);
  background: linear-gradient(var(--gradient-angle), var(--color-9) var(--color-1-of-2), var(--color-11) var(--color-2-of-2));
}

.hex.gradient-10-11 {
  background: var(--color-10);
  background: linear-gradient(var(--gradient-angle), var(--color-10) var(--color-1-of-2), var(--color-11) var(--color-2-of-2));
}

.hex.gradient-10-12 {
  background: var(--color-10);
  background: linear-gradient(var(--gradient-angle), var(--color-10) var(--color-1-of-2), var(--color-12) var(--color-2-of-2));
}

.hex.gradient-11-12 {
  background: var(--color-11);
  background: linear-gradient(var(--gradient-angle), var(--color-11) var(--color-1-of-2), var(--color-12) var(--color-2-of-2));
}

.hex.gradient-1-body-bg {
  --color-1-of-2: 0%;
  --color-2-of-2: 50%;
  background: var(--body-bg);
  background: linear-gradient(var(--gradient-angle), var(--color-1) var(--color-1-of-2), var(--body-bg) var(--color-2-of-2));
}

.hex.gradient-10-body-bg {
  --color-1-of-2: 0;
  --color-2-of-2: 50%;
  background: var(--color-10);
  background: linear-gradient(var(--gradient-angle), var(--color-10) var(--color-1-of-2), var(--body-bg) var(--color-2-of-2));
}

.hex.gradient-11-body-bg {
  --color-1-of-2: 0;
  --color-2-of-2: 50%;
  background: var(--color-11);
  background: linear-gradient(var(--gradient-angle), var(--color-11) var(--color-1-of-2), var(--body-bg) var(--color-2-of-2));
}
  
.hex.gradient-12-body-bg {
  --color-1-of-2: 0;
  --color-2-of-2: 50%;
  background: var(--color-2);
  background: linear-gradient(var(--gradient-angle), var(--color-12) var(--color-1-of-2), var(--body-bg) var(--color-2-of-2));
}

.hex.body-bg {
  background: var(--body-bg);
}

.hex.img-top-left {
  background-position: top left;
}

.hex.img-top-right {
  background-position: top right;
}

.hex.img-left {
  background-position: left;
}

.hex.img-center {
  background-position: left;
}

.hex.img-right {
  background-position: right;
}

.hex.img-bottom-left {
  background-position: bottom left;
}
.hex.img-bottom-right {
  background-position: bottom right;
}

.gradient-primary-color-bg {
  background: linear-gradient(var(--gradient-angle), var(--primary-color-bg) var(--color-1-of-2), var(--primary-color-bg-100) var(--color-2-of-2));
}

.gradient-secondary-color-bg {
  background: linear-gradient(var(--gradient-angle), var(--secondary-color-bg) var(--color-1-of-2), var(--secondary-color-bg-100) var(--color-2-of-2));
}

.gradient-tertiary-color-bg {
  background: linear-gradient(var(--gradient-angle), var(--tertiary-color-bg) var(--color-1-of-2), var(--tertiary-color-bg-100) var(--color-2-of-2));
}

