/* Hex Colors */
.hex.orange-pink-gradient {
  background: var(--orange);
  background: linear-gradient(30deg, var(--orange) 0%, var(--pink) 100%);
}

.hex.blue-cyan-teal-green-gradient {
  background: var(--blue);
  background: linear-gradient(135deg, var(--blue) 0%, var(--cyan) 33%, var(--teal) 66%, var(--green) 100%);
}