.hex.transparent {
  background: transparent;
}

.hex[class*="gradient"] {
  --gradient-angle: 120deg;
  --stop-color-1: var(--shade-1);
  --stop-color-2: var(--shade-2);
  background: var(--stop-color-1);
  background: linear-gradient(var(--gradient-angle), var(--stop-color-1) var(--stop-1-of-2), var(--stop-color-2) var(--stop-2-of-2));
}

.hex.gradient-1 {
  background: var(--shade-1);
}

.hex.gradient-1-3 {
  --stop-color-1: var(--shade-1);
  --stop-color-2: var(--shade-3);
}

.hex.gradient-1-transparent {
  --stop-color-1: var(--shade-1);
  --stop-color-2: transparent;
}

.hex.gradient-2-3 {
  --stop-color-1: var(--shade-2);
  --stop-color-2: var(--shade-3);
}

.hex.gradient-2-4 {
  --stop-color-1: var(--shade-2);
  --stop-color-2: var(--shade-4);
}

.hex.gradient-3-4 {
  --stop-color-1: var(--shade-3);
  --stop-color-2: var(--shade-4);
}

.hex.gradient-3-5 {
  --stop-color-1: var(--shade-3);
  --stop-color-2: var(--shade-5);
}

.hex.gradient-4 {
  background: var(--shade-4);
}

.hex.gradient-4-5 {
  --stop-color-1: var(--shade-4);
  --stop-color-2: var(--shade-5);
}

.hex.gradient-4-6 {
  --stop-color-1: var(--shade-4);
  --stop-color-2: var(--shade-6);
}

.hex.gradient-5-6 {
  --stop-color-1: var(--shade-5);
  --stop-color-2: var(--shade-6);
}

.hex.gradient-5-8 {
  --stop-color-1: var(--shade-5);
  --stop-color-2: var(--shade-8);
}

.hex.gradient-6-7 {
  --stop-color-1: var(--shade-6);
  --stop-color-2: var(--shade-7);
}

.hex.gradient-6-8 {
  --stop-color-1: var(--shade-6);
  --stop-color-2: var(--shade-8);
}

.hex.gradient-7-8 {
  --stop-color-1: var(--shade-7);
  --stop-color-2: var(--shade-8);
}

.hex.gradient-8 {
  background: var(--shade-8);
}

.hex.gradient-8-9 {
  --stop-color-1: var(--shade-8);
  --stop-color-2: var(--shade-9);
}

.hex.gradient-8-10 {
  --stop-color-1: var(--shade-8);
  --stop-color-2: var(--shade-10);
}
.hex.gradient-9 {
  background: var(--shade-9);
}
.hex.gradient-9-10 {
  --stop-color-1: var(--shade-9);
  --stop-color-2: var(--shade-10);
}

.hex.gradient-9-11 {
  --stop-color-1: var(--shade-9);
  --stop-color-2: var(--shade-11);
}

.hex.gradient-10-11 {
  --stop-color-1: var(--shade-10);
  --stop-color-2: var(--shade-11);
}

.hex.gradient-10-12 {
  --stop-color-1: var(--shade-10);
  --stop-color-2: var(--shade-12);
}

.hex.gradient-11-12 {
  --stop-color-1: var(--shade-11);
  --stop-color-2: var(--shade-12);
}

.hex.gradient-12-11 {
  --stop-color-1: var(--shade-12);
  --stop-color-2: var(--shade-11);
}

.hex.gradient-12-1 {
  --stop-color-1: var(--shade-12);
  --stop-color-2: var(--shade-1);
}

.hex.gradient-1-body-bg {
  --stop-1-of-2: 0%;
  --stop-2-of-2: 50%;
  --stop-color-1: var(--shade-1);
  --stop-color-2: var(--body-bg);
}

.hex.gradient-10-body-bg {
  --stop-1-of-2: 0;
  --stop-2-of-2: 50%;
    --stop-color-1: var(--shade-10);
  --stop-color-2: var(--body-bg);
}

.hex.gradient-11-body-bg {
  --stop-1-of-2: 0;
  --stop-2-of-2: 50%;
    --stop-color-1: var(--shade-11);
  --stop-color-2: var(--body-bg);
}
  
.hex.gradient-12-body-bg {
  --stop-1-of-2: 0;
  --stop-2-of-2: 50%;
  --stop-color-1: var(--shade-12);
  --stop-color-2: var(--body-bg);
}

.hex.body-bg {
  background: var(--body-bg);
}

.hex.img-top-left {
  background-position: top left;
}

.hex.img-top-right {
  background-position: top right;
}

.hex.img-left {
  background-position: left;
}

.hex.img-center {
  background-position: left;
}

.hex.img-right {
  background-position: right;
}

.hex.img-bottom-left {
  background-position: bottom left;
}
.hex.img-bottom-right {
  background-position: bottom right;
}