/* TODO refresh these */
.hex {
  --hex-top: var(--shade-1);
  --outer-wall-top-left: var(--shade-6);
  --outer-wall-top-right: var(--shade-7);
  --outer-wall-right: var(--shade-8);
  --outer-wall-bottom-right: var(--shade-9);
  --outer-wall-bottom-left: var(--shade-8);
  --outer-wall-left: var(--shade-7);
  --hex-wall-top-left: var(--shade-11);
  --hex-wall-top-right: var(--shade-2);
  --hex-wall-right: var(--shade-3);
  --hex-wall-bottom-right: var(--shade-4);
  --hex-wall-bottom-left: var(--shade-3);
  --hex-wall-left: var(--shade-2);

}

.hex .hex-top {
  fill: var(--hex-top);
}

.hex .outer-wall-top-left {
  fill: var(--outer-wall-top-left);
}

.hex .outer-wall-top-right {
  fill: var(--outer-wall-top-right);
}

.hex .outer-wall-right {
  fill: var(--outer-wall-right)
}

.hex .outer-wall-bottom-right {
  fill: var(--outer-wall-bottom-right);
}

.hex .outer-wall-bottom-left {
  fill: var(--outer-wall-bottom-left);
}

.hex .outer-wall-left {
  fill: var(--outer-wall-left);
}

.hex .hex-wall-top-left {
  fill: var(--hex-wall-top-left);
}

.hex .hex-wall-top-right {
  fill: var(--hex-wall-top-right);
}

.hex .hex-wall-right {
  fill: var(--hex-wall-right)
}

.hex .hex-wall-bottom-right {
  fill: var(--hex-wall-bottom-right);
}

.hex .hex-wall-bottom-left {
  fill: var(--hex-wall-bottom-left);
}

.hex .hex-wall-left {
  fill: var(--hex-wall-left);
}

.hex.logo * {
  transition: fill var(--transition-rules), color var(--transition-rules);
}

.hex .outer-hex {
  fill: var(--outer-hex);
}

.hex .middle-hex {
  fill: var(--middle-hex);
}

.hex .inner-hex {
  fill: var(--inner-hex);
}

.hex .logo-text {
  --shadow-scale: 1.75px;
  --inverted-shadow-scale: calc(var(--shadow-scale) * -1);

  fill: var(--logo-text);
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 7rem;
  transform: translateY(12px);
  color: var(--logo-text);

  animation: titleGlow 16s ease infinite;
}

.hex.logo:hover * {
  --outer-hex: var(--outer-hex-hover);
  --middle-hex: var(--middle-hex-hover);
  --inner-hex: var(--inner-hex-hover);
  --logo-text: var(--logo-text-hover);
  transition: fill var(--transition-rules), color var(--transition-rules);
}